body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

.scoreboard, .umpireControlPanel {
    background-color: #66ff66;
    padding: 10px;
    margin: 0px auto 20px;
    color: white;
    font-size: 10vw;
}




.scoreboard {
    width: 90vw;
    align-self: start;
}

.playerInfo, .umpireControlPanel {
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.umpireControlPanel {
    justify-content: center;
    align-self: flex-end;
}

.umpireControlPanel button {
    font-size: 6vw;
}

.playerInfo .playerName {
    flex-grow: 8;
    flex-basis: 16em;
    font-size: 6vw;
}

.playerInfo .sets, 
.playerInfo .games, 
.playerInfo .points {
    padding: 4px;
    text-align: center;
    font-family: monospace;
}

.playerInfo .sets, 
.playerInfo .games {
    flex-basis: 1em;
}

.playerInfo .points {
    flex-basis: 2em;
}

.scoreboard div {
    border: 1px dotted white;
}