body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

.scoreboard, .umpireControlPanel {
    background-color: #66ff66;
    padding: 10px;
    margin: 0px auto 20px;
    color: white;
    font-size: 10vw;
}

.scoreboard {
    width: 90vw;
    align-self: start;
}

.playerInfo, .umpireControlPanel {
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
}

.umpireControlPanel {
    justify-content: center;
    align-self: flex-end;
}

.umpireControlPanel button{
    font-size: 6vw;
}

.playerInfo .playerName {
    flex-grow: 8;
}

.playerInfo .sets, 
.playerInfo .games, 
.playerInfo .points {
    text-align: center;
    flex-basis: 0;
    padding: 4px;
}

.scoreboard div {
    border: 1px dotted white;
}